
.header-label {
	-fx-font-size: 15px;
	-fx-font-weight: 700;
	-fx-padding: 10;
}

.top-bar {
	-fx-background-color: #8BC34A;
	-fx-min-height: 50px;
}
.top-bar .header-label {
	-fx-text-fill: #FFFFFF;
}

.text-area .content {
      -fx-background-color: #FFFFFF!important;
}
  
.content-block-background {
	-fx-background-color: #FAFAFA;
}

.field-error {
	-fx-border-color: rgb(255,0,0)!important;
}

.error-message {
	-fx-text-fill: red!important;
	-fx-font-size: 10px;
} 