.left-bar {
	-fx-background-color: #FF5722;
	-fx-fit-to-height: true;
}


.left-bar-btn {
	-fx-background-fills: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: white ;
	-fx-font-weight: bold;
}

.left-bar-btn:hover {
	-fx-background-fills: #BF360C;
	-fx-background-color: #BF360C;
	-fx-fit-to-width: true;
}

.content .top-bar-btn {
	-fx-background-fills: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: white ;
}

.content .top-bar-btn:hover {
	-fx-background-fills: #e7e7e7;
}

.content .top-menu-bar {
	-fx-background-color: #8BC34A;
}

.content {
	-fx-background-color: #FFFFFF;
}
