.order-info-pane .receive-room-button {
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.3), 6.0, 0.3, 0.0,
		1.0);
	-fx-pref-width: 150.0px;
	-fx-pref-height: 35.0px;
	-fx-background-color: rgb(255,128,64);
	-fx-padding: 10.0px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}