.order-info-pane {
	-fx-background-color: #ebeaef;
}

.top-bar .button {
	-fx-background-fills: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: white ;
}

.order-info-pane .label {
	-fx-pref-width: 70px;
}