
.quick-search-room-stage .hbox .label {
	-fx-pref-width: 80px;
}

.quick-search-room-stage .find-button {
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,
		1);
	-fx-pref-width: 55px;
	-fx-pref-height: 25px;
	-fx-background-color: blue;
	-fx-padding: 5px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.quick-search-room-stage .selected-room-button {
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,
		1);
	-fx-pref-width: 100px;
	-fx-pref-height: 35px;
	-fx-background-color: green;
	-fx-padding: 5px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}